.auth-form {
    position: relative;
    margin: 20% 0 40px;
    padding: 30px;
    border-radius: 2px;
    background: rgb(255, 255, 255) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAGCAYAAACFIR03AAAAV0lEQVR42tXOMRWAQAwE0RWFDRTg5d47Jeg4Q9gI06RbqlwKil/P6LpXbDCf85AxEBtMGjKG/jyPUHUerfP4nEeoOo/Wedj5pOo8Wudh55Oq82idh51PLxpvled7kLAXAAAAAElFTkSuQmCC) repeat-x;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.password-group {
    display: flex;
}

.password-group button.show {
    margin-left: -40px;
}