<div class="list-group list-group-lg m-0">
    <button class="list-group-item"
       *ngIf="!storage.isRoot()"
       (click)="clickFolder(storage.getParent())">

        <h3 class="list-group-item-heading">
            <i class="fa fa-folder-open"></i>
            ..
        </h3>

    </button>
    <button class="list-group-item"
       *ngFor="let item of storage.getCurrent().getFolders()"
       (click)="clickFolder(item)"
       appLongPress
       (onRelease)="editFolder(item)">

        <h3 class="list-group-item-heading">
            <i class="fa fa-folder"></i>&nbsp;
            {{ item.getName() }}
        </h3>

    </button>
    <button class="list-group-item"
       *ngFor="let item of storage.getCurrent().getItems()"
       (click)="clickItem(item)"
       ngxClipboard [cbContent]="asSecret(item).getSecret()"
       appLongPress
       (onRelease)="editSecret(item)">

        <h3 class="list-group-item-heading">
            <i class="fa fa-file-o"></i>&nbsp;
            {{ item.getName() }}
        </h3>
        <p class="list-group-item-text">
            <small class="text-muted">
                {{ asSecret(item).getContent() }}
            </small>
        </p>

    </button>
</div>

<div *ngIf="storage.getCurrent().isEmpty()" class="well well-lg m-0">
    <h2>This folder is empty</h2>
</div>