<ol class="breadcrumb">
    <li *ngFor="let item of folders; last as isLast">
        <a href="javascript:void(0)"
           (click)="clickItem(item)"
            data-ng-class="{'active': isLast}">
            {{ item.getName() }}
        </a>
    </li>
</ol>
<div class="list-group">
    <a href="javascript:void(0)"
       class="list-group-item"
       *ngIf="folders.length > 1"
       (click)="clickItem(folders[folders.length - 2])"
    >
        ..
    </a>
    <a href="javascript:void(0)"
       class="list-group-item"
       *ngFor="let item of currentFolder.getItems()"
       (click)="clickItem(item)"
    >
        <h5 class="list-group-item-heading">
            <i *ngIf="isFolder(item)" class="fa fa-book" aria-hidden="true"></i>&nbsp;
            <i *ngIf="isSecret(item)" class="fa fa-key" aria-hidden="true"></i>&nbsp;
            {{ item.getName() }}
        </h5>
        <p *ngIf="isSecret(item)" class="list-group-item-text">
            <small class="text-muted">
                {{ asSecret(item).getContent() }}
            </small>
        </p>
    </a>
</div>