<form name="add-secret" (ngSubmit)="submit()" *ngIf="isActive">
  <h3>{{ isEditMode() ? 'Edit' : 'Add' }} Secret</h3>
  <div class="form-group">
    <div [ngClass]="{'input-group input-group-lg': !detailsShown}">
      <input [(ngModel)]="itemName"
             class="form-control input-lg"
             placeholder="Enter secret name"
             name="fieldName"
             #fieldName>
      <span class="input-group-btn" *ngIf="!detailsShown">
        <button *ngIf="!detailsShown"
                class="btn btn-default btn-lg pull-right"
                type="button"
                title="More details..."
                (click)="detailsShown = true">
          <span class="fa fa-angle-double-down"></span>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="detailsShown">
    <div class="form-group">
      <label for="secretValue">Password</label>
      <div class="input-group input-group-lg">
        <input [(ngModel)]="itemSecret"
               class="form-control"
               placeholder="Enter password"
               name="secretValue"
               id="secretValue"
               #secretValue>
        <span class="input-group-btn">
          <button class="btn btn-primary"
                  type="button"
                  title="Generate"
                  (click)="generate()">
            <i class="fa fa-refresh"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="secretContent">Notes</label>
      <textarea [(ngModel)]="itemContent"
                class="form-control"
                placeholder="Enter notes"
                name="secretContent"
                id="secretContent"
                rows="4"
                #secretContent>
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-success" [disabled]="!itemName">
      <i class="fa fa-plus-circle"></i>
      <span class="hidden-xxs">{{ isEditMode() ? 'Save' : 'Add' }}</span>
    </button>
    <button class="btn btn-lg btn-default"
            type="button"
            title="Cancel"
            (click)="close()">
      <i class="fa fa-ban"></i>
      <span class="hidden-xxs">Cancel</span>
    </button>
    <button *ngIf="isEditMode()"
            class="btn btn-lg btn-danger pull-right"
            type="button"
            title="Remove"
            (click)="remove(itemSource)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</form>