<form name="add-secret" (ngSubmit)="submit()" *ngIf="isActive">
  <h3>Add Secret</h3>
  <div class="form-group">
    <div [ngClass]="{'input-group input-group-lg': !detailsShown}">
      <input [(ngModel)]="itemName"
             class="form-control input-lg"
             placeholder="Enter secret name"
             name="fieldName"
             #fieldName>
      <span class="input-group-btn hidden-xxs" *ngIf="!detailsShown">
        <button class="btn btn-primary" [disabled]="!itemName">
          Add
        </button>
        <button class="btn btn-default" (click)="close()">
          Cancel
        </button>
      </span>
    </div>
  </div>
  <div class="text-center" *ngIf="!detailsShown">
    <button class="btn btn-default" type="button" (click)="detailsShown = true">
      <span class="fa fa-angle-double-down"></span>
      More details...
    </button>
  </div>
  <div *ngIf="detailsShown">
    <div class="form-group">
      <label for="secretValue">Password</label>
      <div class="input-group input-group-lg">
        <input [(ngModel)]="itemSecret"
               class="form-control"
               placeholder="Enter password"
               name="secretValue"
               id="secretValue"
               #secretValue>
        <span class="input-group-btn">
          <button class="btn btn-primary"
                  type="button"
                  (click)="generate()">
            <i class="fa fa-refresh"></i>
            <span class="hidden-xxs">Generate</span>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="secretContent">Notes</label>
      <textarea [(ngModel)]="itemContent"
                class="form-control"
                placeholder="Enter notes"
                name="secretContent"
                id="secretContent"
                rows="4"
                #secretContent>
      </textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="submit()">
        Save
      </button>
      <button class="btn btn-default" (click)="close()">
        Cancel
      </button>
    </div>
  </div>
</form>