<form
  *ngIf="isActive"
  name="add-item"
  (ngSubmit)="submit()"
>
  <h3>
    Add Item
  </h3>
  <div class="input-group input-group-lg">
    <input
      [(ngModel)]="itemName"
      class="form-control"
      placeholder="Enter item name"
      name="fieldName"
      #fieldName>
    <div class="input-group-btn">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!itemName"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-default"
        (click)="close()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
