<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">🔐 KH</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/storage">
          <i class="fa fa-database"></i>&nbsp;
          Storage
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings">
          <i class="fa fa-cogs"></i>&nbsp;
          Settings
        </a>
      </li>
    </ul>
    <app-search></app-search>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/logout">
          <i class="fa fa-sign-out"></i>&nbsp;
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>