/* You can add global styles to this file, and also import other style files */

.m-0 {
    margin: 0 !important;
}

.p-lg {
    padding: 14pt !important;
}

.breadcrumb > li + li:before {
    padding: 0 !important;
    margin-left: 6pt;
}

.large-font-size {
    font-size: 20pt;
}