/* You can add global styles to this file, and also import other style files */

.large-font-size {
    font-size: 20pt;
}

.visible-xxs,
.visible-xxs-inline {
    display: none;
}

// XXS

@media (max-width: 360px) {

    .visible-xxs {
        display: block !important;
    }

    .visible-xxs-inline {
        display: inline !important;
    }

    .hidden-xxs {
        display: none !important;
    }

}